@font-face {
  font-family: brutal-regular;
  src: url("./fonts/BrutalType.woff2");
}

@font-face {
  font-family: brutal-thin;
  src: url("./fonts/BrutalType-Thin.woff2");
}

@font-face {
  font-family: brutal-light;
  src: url("./fonts/BrutalType-Light.woff2");
}

@font-face {
  font-family: brutal-medium;
  src: url("./fonts/BrutalType-Medium.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.383rem !important;
}

h2 {
  font-size: 1.296rem !important;
}

h3 {
  font-size: 1.215rem !important;
}

h4 {
  font-size: 1.138rem !important;
}

h5 {
  font-size: 1.067rem !important;
}

small,
.text-small {
  font-size: 0.875rem !important;
}

p {
  font-size: 0.875rem !important;
  font-family: brutal-regular !important;
}

a {
  text-decoration: none;
}

.category-item {
  font-family: brutal-regular !important;
  p {
    font-size: 0.875rem !important;
  }
}

.img-container {
  border-radius: 0.3rem;
  display: inline-flex;
  position: relative;
  &::after {
    transition: opacity 125ms ease-in-out;
    content: "";
    background: hsl(100, 100%, 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 0.3rem;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 0.1;
    }
  }
}

.checkout-btn {
  position: relative;
  &::after {
    transition: opacity 125ms ease-in-out;
    content: "";
    background: hsl(100, 100%, 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 4px;
    opacity: 0;
  }
  &:hover {
    &::after {
      opacity: 0.1;
    }
  }
}
/* .product-group-control { */
/* Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button, */
/* input::-webkit-inner-spin-button { */
/*   -webkit-appearance: none; */
/*   margin: 0; */
/* } */

/* Firefox */
/*   input[type="number"] { */
/*     -moz-appearance: textfield; */
/*   } */
/* } */

/* div{ */
/*   &:hover{ */
/*     button{ */

/*     } */
/*   } */
/* } */

.cart-main {
  ::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: hsla(100, 100%, 100%, 0.1);
    border-radius: 1.2rem;
  }
}

.MuiModal-root {
  ::-webkit-scrollbar {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    position: absolute;
    background-color: hsla(100, 100%, 100%, 0.1);
    border-radius: 1.2rem;
  }
}

.MuiSkeleton-root{
  border-radius: 0.3rem;
}
/* .login-facebook-icon{ */
/*   path{ */
/*     stroke: hsl(100, 100%, 100%); */
/*   } */
/* } */
